body {
  margin: 0;
}
* {
  box-sizing: border-box;
  user-select: none;  /* 取消选中文本 */
}

.card-body {
  width: 100%;
  height: 100%;
}

.calculator {
  float: left;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(8, 4rem);
  gap: 1px;
  background-color: rgba(230, 230, 230, 0.75);
  width: calc(24rem + 6px);
  height: 640px;
  margin: 0 auto;
  border: 2px solid black;
}

.history-record {
  float: left;
  background-color: rgba(230, 230, 230, 0.75);
  width: 30%;
  height: 640px;
  border: 2px solid black;
  margin-left: 1px;
}

.history-record-title {
  font-size: large;
  font-weight: bold;
}

.history-record-content {
  margin-top: 1px;
}

.output {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.current-output {
  font-size: 2rem;
}

.calculator > button:hover {
  background-color: #B5B5B5;
}

.calculator > button {
  background-color: #f7f7f7;
}

.calculator > .button-Del {
  background-color: lightyellow;
}

.calculator > .button-ac {
  background-color: lightyellow;
}

.calculator > .button-Del:hover {
  background-color: rgb(249, 249, 194);
}

.calculator > .button-ac:hover {
  background-color: rgb(249, 249, 194);
}

.calculator > .button-equal {
  background-color: #8abae0;
}

.calculator > .button-equal:hover {
  background-color: #4599db;
}